<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sznk.terrace.mapper.TbDynamicalarmMapper" >
  <resultMap id="BaseResultMap" type="cn.sznk.terrace.bean.TbDynamicalarm" >
    <id column="alarm_id" property="alarmId" jdbcType="INTEGER" />
    <result column="alarm_time" property="alarmTime" jdbcType="TIMESTAMP" />
    <result column="alarm_state" property="alarmState" jdbcType="INTEGER" />
    <result column="alarm_title" property="alarmTitle" jdbcType="VARCHAR" />
    <result column="alarm_detils" property="alarmDetils" jdbcType="VARCHAR" />
    <result column="alarm_level" property="alarmLevel" jdbcType="VARCHAR" />
    <result column="alarm_group" property="alarmGroup" jdbcType="VARCHAR" />
    <result column="alarm_area" property="alarmArea" jdbcType="VARCHAR" />
    <result column="alarm_type" property="alarmType" jdbcType="INTEGER" />
    <result column="dept_code" property="deptCode" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 当日警情数量-->
  <select id="findTodayPoliceNum"  parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM tb_dynamicalarm WHERE alarm_time>#{date} and dept_code=#{code}
  </select>
  <!--近七天警情分布-->
  <select id="findPoliceDistribution"  parameterType="java.lang.String" resultType="java.lang.Integer">
    select COUNT(*) as number from tb_dynamicalarm  where  dept_code=#{code} and alarm_time &gt;=#{gtTime} and alarm_time &lt;=#{ltTime} and alarm_group=#{alarm_group} GROUP BY alarm_group
  </select>
  <!--当天未处理的警情-->
  <select id="findUntreatedPolice"  parameterType="java.lang.String" resultType="cn.sznk.terrace.bean.TbDynamicalarm">
    SELECT * FROM tb_dynamicalarm WHERE alarm_time>#{date} and alarm_state='0' and dept_code=#{code}
  </select>
  <!--当天未处理的设备警情-->
  <select id="equipmentPolice"  parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM tb_dynamicalarm WHERE alarm_time>#{date} and alarm_state='0' and alarm_type='1' and dept_code=#{code}
  </select>
  <!--当天未处理的人员警情-->
  <select id="peoplePolice"  parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM tb_dynamicalarm WHERE alarm_time>#{date} and alarm_state='0' and alarm_type='0' and dept_code=#{code}
  </select>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    alarm_id, alarm_time, alarm_state, alarm_title, alarm_detils, alarm_level, alarm_group, 
    alarm_area, alarm_type, dept_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.sznk.terrace.bean.TbDynamicalarmExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_dynamicalarm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_dynamicalarm
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_dynamicalarm
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.sznk.terrace.bean.TbDynamicalarmExample" >
    delete from tb_dynamicalarm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.sznk.terrace.bean.TbDynamicalarm" >
    insert into tb_dynamicalarm (alarm_id, alarm_time, alarm_state, 
      alarm_title, alarm_detils, alarm_level, 
      alarm_group, alarm_area, alarm_type, 
      dept_code)
    values (#{alarmId,jdbcType=INTEGER}, #{alarmTime,jdbcType=TIMESTAMP}, #{alarmState,jdbcType=INTEGER}, 
      #{alarmTitle,jdbcType=VARCHAR}, #{alarmDetils,jdbcType=VARCHAR}, #{alarmLevel,jdbcType=VARCHAR}, 
      #{alarmGroup,jdbcType=VARCHAR}, #{alarmArea,jdbcType=VARCHAR}, #{alarmType,jdbcType=INTEGER}, 
      #{deptCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.sznk.terrace.bean.TbDynamicalarm" >
    insert into tb_dynamicalarm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="alarmId != null" >
        alarm_id,
      </if>
      <if test="alarmTime != null" >
        alarm_time,
      </if>
      <if test="alarmState != null" >
        alarm_state,
      </if>
      <if test="alarmTitle != null" >
        alarm_title,
      </if>
      <if test="alarmDetils != null" >
        alarm_detils,
      </if>
      <if test="alarmLevel != null" >
        alarm_level,
      </if>
      <if test="alarmGroup != null" >
        alarm_group,
      </if>
      <if test="alarmArea != null" >
        alarm_area,
      </if>
      <if test="alarmType != null" >
        alarm_type,
      </if>
      <if test="deptCode != null" >
        dept_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="alarmId != null" >
        #{alarmId,jdbcType=INTEGER},
      </if>
      <if test="alarmTime != null" >
        #{alarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmState != null" >
        #{alarmState,jdbcType=INTEGER},
      </if>
      <if test="alarmTitle != null" >
        #{alarmTitle,jdbcType=VARCHAR},
      </if>
      <if test="alarmDetils != null" >
        #{alarmDetils,jdbcType=VARCHAR},
      </if>
      <if test="alarmLevel != null" >
        #{alarmLevel,jdbcType=VARCHAR},
      </if>
      <if test="alarmGroup != null" >
        #{alarmGroup,jdbcType=VARCHAR},
      </if>
      <if test="alarmArea != null" >
        #{alarmArea,jdbcType=VARCHAR},
      </if>
      <if test="alarmType != null" >
        #{alarmType,jdbcType=INTEGER},
      </if>
      <if test="deptCode != null" >
        #{deptCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.sznk.terrace.bean.TbDynamicalarmExample" resultType="java.lang.Integer" >
    select count(*) from tb_dynamicalarm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_dynamicalarm
    <set >
      <if test="record.alarmId != null" >
        alarm_id = #{record.alarmId,jdbcType=INTEGER},
      </if>
      <if test="record.alarmTime != null" >
        alarm_time = #{record.alarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.alarmState != null" >
        alarm_state = #{record.alarmState,jdbcType=INTEGER},
      </if>
      <if test="record.alarmTitle != null" >
        alarm_title = #{record.alarmTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.alarmDetils != null" >
        alarm_detils = #{record.alarmDetils,jdbcType=VARCHAR},
      </if>
      <if test="record.alarmLevel != null" >
        alarm_level = #{record.alarmLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.alarmGroup != null" >
        alarm_group = #{record.alarmGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.alarmArea != null" >
        alarm_area = #{record.alarmArea,jdbcType=VARCHAR},
      </if>
      <if test="record.alarmType != null" >
        alarm_type = #{record.alarmType,jdbcType=INTEGER},
      </if>
      <if test="record.deptCode != null" >
        dept_code = #{record.deptCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_dynamicalarm
    set alarm_id = #{record.alarmId,jdbcType=INTEGER},
      alarm_time = #{record.alarmTime,jdbcType=TIMESTAMP},
      alarm_state = #{record.alarmState,jdbcType=INTEGER},
      alarm_title = #{record.alarmTitle,jdbcType=VARCHAR},
      alarm_detils = #{record.alarmDetils,jdbcType=VARCHAR},
      alarm_level = #{record.alarmLevel,jdbcType=VARCHAR},
      alarm_group = #{record.alarmGroup,jdbcType=VARCHAR},
      alarm_area = #{record.alarmArea,jdbcType=VARCHAR},
      alarm_type = #{record.alarmType,jdbcType=INTEGER},
      dept_code = #{record.deptCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sznk.terrace.bean.TbDynamicalarm" >
    update tb_dynamicalarm
    <set >
      <if test="alarmTime != null" >
        alarm_time = #{alarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmState != null" >
        alarm_state = #{alarmState,jdbcType=INTEGER},
      </if>
      <if test="alarmTitle != null" >
        alarm_title = #{alarmTitle,jdbcType=VARCHAR},
      </if>
      <if test="alarmDetils != null" >
        alarm_detils = #{alarmDetils,jdbcType=VARCHAR},
      </if>
      <if test="alarmLevel != null" >
        alarm_level = #{alarmLevel,jdbcType=VARCHAR},
      </if>
      <if test="alarmGroup != null" >
        alarm_group = #{alarmGroup,jdbcType=VARCHAR},
      </if>
      <if test="alarmArea != null" >
        alarm_area = #{alarmArea,jdbcType=VARCHAR},
      </if>
      <if test="alarmType != null" >
        alarm_type = #{alarmType,jdbcType=INTEGER},
      </if>
      <if test="deptCode != null" >
        dept_code = #{deptCode,jdbcType=VARCHAR},
      </if>
    </set>
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sznk.terrace.bean.TbDynamicalarm" >
    update tb_dynamicalarm
    set alarm_time = #{alarmTime,jdbcType=TIMESTAMP},
      alarm_state = #{alarmState,jdbcType=INTEGER},
      alarm_title = #{alarmTitle,jdbcType=VARCHAR},
      alarm_detils = #{alarmDetils,jdbcType=VARCHAR},
      alarm_level = #{alarmLevel,jdbcType=VARCHAR},
      alarm_group = #{alarmGroup,jdbcType=VARCHAR},
      alarm_area = #{alarmArea,jdbcType=VARCHAR},
      alarm_type = #{alarmType,jdbcType=INTEGER},
      dept_code = #{deptCode,jdbcType=VARCHAR}
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </update>
</mapper>