/*边距清空*/
* {
	padding: 0;
	margin: 0;
}

html {
	
	height: 100%;
	margin: 0 auto;
	min-width: 1920px;
}

body {
	width: 100%;
	min-width: 1920px;
	background-color: #020047;
}
.efficacy{
	width: 1890px;
	height: 862px;
	background-size: 100% 100%;
	margin-left: 15px;
	position: relative;
	display: block;
}
.back {
	display: inline-block;
	position: absolute;
	top: 23px;
	left: 21px;
	color: #fff;
	cursor: pointer;
	width: 78px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-family: trends;
	border: solid 1px #3dd7fd;
}
.efficacy_title{
	display: inline-block;
	font-family: TRENDS;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #ffffff;
	position: absolute;
	left: 121px;
	top: 32px;
}
.efficacytype_ul{
	height: 17px;
	width: auto;
	display: inline-block;
	position: absolute;
	left: 765px;
	top: 33px;
}
.efficacytype_li{
	height: 17px;
	width: auto;
	float: left;
	font-family: TRENDS;
	text-decoration: underline;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #80a7e9;
	margin-right: 45px;
	cursor: pointer;
}
.efficacytype_page{
	width: 440px;
	height: 38px;
	position: absolute;

	display: inline-block;
	bottom: 18px;
	right: 21px;
}
.licolor{
	color: #fff !important;
}
#efficacydate_select{
	width: 160px;
	height: 38px;
	position: absolute;
	top: 23px;
	right: 21px;
}
.layui-input{
    background-color: rgba(0,0,0,0) !important;
    border: solid 1px #3dd7fd !important;
    color: #ffffff;
    padding-left: 20px !important;
}
#efficacydate_table{
	width: 1890px;
	height: 200px;
	position: absolute;
	top: 84px;
}
.efficacydate_content_table{
	width: 1823px;
	height: 530px;	
	position: absolute;
	top: 310px;
	left: 45px;
}
.layui-table tr,.layui-table-header{
    height: 44px !important;
}
.gradetype_ul{
	height: 17px;
	width: auto;
	display: inline-block;
	position: absolute;
	left: 672px;
	top: 332px;
}
.gradetype_li{
	height: 17px;
	width: auto;
	float: left;
	font-family: TRENDS;
	text-decoration: underline;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #80a7e9;
	margin-right: 45px;
	cursor: pointer;
}
#gradedate_select{
	width: 160px;
	height: 38px;
	position: absolute;
	top: 320px;
	right: 21px;
}
.tr_msg, .tr_level {
    border-left: 1px solid rgba(61,215,253, .75) !important;
}
.tabtrdiv{
	 border: 1px solid rgba(61,215,253, .75) !important;
}
.tr_level_sc {
    padding-top: 24px !important;
}
.Lift img{
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 4px;
	margin-left: ;
}
.Lift{
	position: absolute;
	right: 10px;
}
#gradedate_table{
	height: 438px;
	width: 1864px;
		position: absolute;

	top: 370px;
	left: 13px;
}
#gradedate_table ul li{
	float: left;
	    margin-left:17px;
    margin-right: 17px;
    margin-bottom: 12px;
}
.tabtrdiv {
	height: 133px !important;
}
.layui-laypage-skip .layui-input{
	    padding-left: 0 !important;
}
.order {
	display: inline-block;
	color: #00b7ee;
	cursor: pointer;
	width: 78px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-family: trends;
	margin-left: 18px;
	border: solid 1px #3dd7fd;
}
.order:hover{
	color: #fff;
}
.ordered{
	color: #fff;
}
.oederdiv{
	position: absolute;
	top: 315px;
	right: 20px;
}
.layui-input{
    background-color: rgba(0,0,0,0) !important;
    border: solid 1px #3dd7fd !important;
    color: #ffffff;
    padding-left: 35px !important;
}
.tr_msg div{
	height: auto;
}
