
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../css/Consumption.css" th:href="@{/css/Consumption.css}"/>
		<link rel="stylesheet" type="text/css" href="../css/gloas.css" th:href="@{/css/gloas.css}"/>
		<link rel="stylesheet" type="text/css" href="../layui/css/layui.css" th:href="@{/layui/css/layui.css}"/>

		<title>安全风险动态预警</title>
	</head>

	<body>
		<img src="../img/bg.png" style="z-index: -99;position: absolute;display: block;width: 1920px;height: 100%;" />
		<div th:replace="bar:: #index_header(activeUri='hazard')"></div>
		<div class="csp">
			<!--<img src="../img/bg2.png" />-->
			<img src="../img/bg2.png" style="z-index: -98;position: absolute;display: block;width: 1890px;height: 862px;" />
			<a class="back" th:href="@{/hazard}">返回</a>
			<div class="lable_title">
				<span id="csp_Range">0-100</span>学员消费数据统计<span style="font-family: PingFang-SC-Heavy;">（<span id="Range_num">8</span>名）</span>
			</div>
			<ul class="csp_Range_ul">
				<li class="Range_li Range_0_100 licolor">0-100</li>
				<li class="Range_li Range_100_500">100-500</li>
				<li class="Range_li Range_500_1000">500-1000</li>
				<li class="Range_li Range_1000_1500">1000-1500</li>
				<li class="Range_li Range_1500_2000">1500-2000</li>
				<li class="Range_li Range_2000_2500">2000以上</li>
				
			</ul>
			
			
			<div class="csp_Range_content">
				<ul>
					<!--<li>
						<div class="keyPersonnel_item">
							<div class="keyPersonnel_item_left">
								<div class="zdry_img lightboder3">
									<img src="../img/photo_img.png" />
								</div>
								<div class="info lightboder3">
									<p>姓名:<span>阿依阿扎</span></p>
									<p>编号:<span>55190228</span></p>
									<p>阶段：<span>康复巩固期</span></p>
									<p>
										<a>详细信息</a>
									</p>
								</div>
								<div class="keyPersonnel_class red lightboder3">
									<div class="keyPersonnel_class-text">
										<p class="score">A</p>
										<p class="v-desc">风险等级</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="keyPersonnel_item">
							<div class="keyPersonnel_item_left">
								<div class="zdry_img lightboder3">
									<img src="../img/photo_img.png" />
								</div>
								<div class="info lightboder3">
									<p>姓名:<span>阿依阿扎</span></p>
									<p>编号:<span>55190228</span></p>
									<p>阶段：<span>康复巩固期</span></p>
									<p>
										<a>详细信息</a>
									</p>
								</div>
								<div class="keyPersonnel_class red lightboder3">
									<div class="keyPersonnel_class-text">
										<p class="score">A</p>
										<p class="v-desc">风险等级</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="keyPersonnel_item">
							<div class="keyPersonnel_item_left">
								<div class="zdry_img lightboder3">
									<img src="../img/photo_img.png" />
								</div>
								<div class="info lightboder3">
									<p>姓名:<span>阿依阿扎</span></p>
									<p>编号:<span>55190228</span></p>
									<p>阶段：<span>康复巩固期</span></p>
									<p>
										<a>详细信息</a>
									</p>
								</div>
								<div class="keyPersonnel_class red lightboder3">
									<div class="keyPersonnel_class-text">
										<p class="score">A</p>
										<p class="v-desc">风险等级</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="keyPersonnel_item">
							<div class="keyPersonnel_item_left">
								<div class="zdry_img lightboder3">
									<img src="../img/photo_img.png" />
								</div>
								<div class="info lightboder3">
									<p>姓名:<span>阿依阿扎</span></p>
									<p>编号:<span>55190228</span></p>
									<p>阶段：<span>康复巩固期</span></p>
									<p>
										<a>详细信息</a>
									</p>
								</div>
								<div class="keyPersonnel_class red lightboder3">
									<div class="keyPersonnel_class-text">
										<p class="score">A</p>
										<p class="v-desc">风险等级</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="keyPersonnel_item">
							<div class="keyPersonnel_item_left">
								<div class="zdry_img lightboder3">
									<img src="../img/photo_img.png" />
								</div>
								<div class="info lightboder3">
									<p>姓名:<span>阿依阿扎</span></p>
									<p>编号:<span>55190228</span></p>
									<p>阶段：<span>康复巩固期</span></p>
									<p>
										<a>详细信息</a>
									</p>
								</div>
								<div class="keyPersonnel_class red lightboder3">
									<div class="keyPersonnel_class-text">
										<p class="score">A</p>
										<p class="v-desc">风险等级</p>
									</div>
								</div>
							</div>
						</div>
					</li>-->
				</ul>
			</div>
			<div class="csp_Range_page"></div>
		</div>

		<script src="../js/jQuery.js" type="text/javascript" charset="utf-8" th:src="@{/js/jQuery.js}"></script>
		<script src="../layui/layui.js" type="text/javascript" charset="utf-8" th:src="@{/layui/layui.js}"></script>
		<script src="../js/echarts.min.js" type="text/javascript" charset="utf-8" th:src="@{/js/echarts.min.js}"></script>
		<script src="../js/Consumption.js" type="text/javascript" charset="utf-8" th:src="@{/js/Consumption.js}"></script>
		<script type="text/javascript">
		</script>
	</body>

</html>