<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../css/Provincial_equipment.css" th:href="@{/css/Provincial_equipment.css}"/>
		<link rel="stylesheet" type="text/css" href="../css/gloas.css" th:href="@{/css/gloas.css}"/>
		<link rel="stylesheet" type="text/css" href="../layui/css/layui.css" th:href="@{/layui/css/layui.css}"/>

		<title>安全风险动态预警</title>
	</head>

	<body>
		<img src="../img/bg.png" style="z-index: -99;position: absolute;display: block;width: 1920px;height: 100%;" />
		<div id="index_header">
			<div class="nav_left">
				<ul class="menu">
					<li class="top">
						<a href="javascript:;" class="top_link zhjd_link"   style="color: #fff !important;cursor: default;
							font-weight: normal;font-stretch: normal;line-height: 30px;letter-spacing: 4px;"><span>智慧戒毒大数据平台</li></span></a>
						
						<li class="nav_right">
							<p></p><span class="administration">[[${session.username}]]</span><span class="administrationID">[[${session.userId}]]</span><span><a class="exit" th:href="@{/}">退出</a></span></p>
						</li>
				</ul>

			</div>

		</div>
		<div class="trend">
			<!--<img src="../img/bg2.png" />-->
			<img src="../img/bg2.png" style="z-index: -98;position: absolute;display: block;width: 1890px;height: 862px;" />
			<a class="back" onclick="history.go(-1)">返回</a>
			<div class="lable_title">
				<span id="Risk_type">监控</span>设备异常<span style="font-family: PingFang-SC-Heavy;">（<span id="Risk_num">0</span>个）</span>
			</div>
			<ul class="risktype_ul">
				<li class="type_li jk licolor">监控</li>
				<li class="type_li mj">门禁</li>
				<li class="type_li xf">消防</li>
				<li class="type_li dw">定位</li>
				<li class="type_li qt">其他</li>
			</ul>
			
			
			<div class="trendtype_content">
				<ul>
			
									
				</ul>
			</div>
			<div class="trendtype_page"></div>
		</div>

		<script src="../js/jQuery.js" type="text/javascript" charset="utf-8" th:src="@{/js/jQuery.js}"></script>
		<script src="../layui/layui.js" type="text/javascript" charset="utf-8" th:src="@{/layui/layui.js}"></script>
		<script src="../js/echarts.min.js" type="text/javascript" charset="utf-8" th:src="@{/js/echarts.min.js}"></script>
		<script src="../js/Provincial_equipment.js" type="text/javascript" charset="utf-8" th:src="@{/js/Provincial_equipment.js}"></script>
		<script type="text/javascript">
		</script>
	</body>

</html>